:root {
  --color-white: #f2f2f2;
  --color-black: #1a1a1a;
  --color-grey: #828282;
  --color-grey-dark: #424242;
  --color-green: #04b861;
  --color-red: #f15726;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h1-font-size-lg: 3rem;
  --h2-font-size: 1.25rem;
  --h2-font-size-lg: 2.25rem;
  --h3-font-size: 1rem;
  --p-font-size: 1.125rem;
  --p-font-size-lg: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

body {
  background-color: var(--color-black);
}

/* nav styling */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 300px;
  padding-left: 1rem;
  gap: 3rem; /* Add smooth transition */
  background: rgba(26, 26, 26, 0.318);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.show-menu {
  display: none;
}

.list__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.list__item a{
  color: var(--color-white);
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: var(--h2-font-size);
  margin-bottom: var(--h2-font-size);
}

.list__item a:hover {
  color: var(--color-red);
}

.nav__mobile {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  color: var(--color-white);
}

/* header styling */
.header {
  max-width: 80%;
  margin: 5rem 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.title {
  color: var(--color-white);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.25rem;
}

.title .logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  transition: all 3s ease;
}

.title .logo img {
  width: 3rem;
}

.title .logo h1 a {
  color: var(--color-white);
  font-size: var(--h1-font-size-lg);
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

.title .logo:hover {
  text-decoration: underline;
}

.title h2 {
  font-size: var(--h2-font-size);
  font-family: 'PT Mono', sans-serif;
  font-weight: 400;
}

.title p {
  font-size: var(--p-font-size);
  font-family: 'DM Sans', sans-serif;
  color: var(--color-green);
}

.title p a {
  color: var(--color-green);
  text-decoration: underline;
}

.title p a:hover {
  text-decoration: none;
}

.bio {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.bio p {
  font-size: var(--h3-font-size);
  font-weight: 400;
  font-family: 'PT Mono', sans-serif;
  line-height: 2;
  color: var(--color-white);
}

/* work styling */
.section {
  max-width: 80%;
  margin: 5rem 2rem;
}

.section--label {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  background-color: var(--color-black);
}

.label {
  color: var(--color-white);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  font-family: 'PT Mono', sans-serif;
}

/* slider styling */
.splide {
  border: 2px solid #f2f2f225;
  border-radius: 10px;
  margin: 2rem 0;
  background: #1a1a1a;
  background: linear-gradient(90deg, rgb(41, 41, 41) 35%, rgb(45, 45, 45) 65%, rgb(44, 44, 44) 98%);
  box-shadow:  10px 10px 20px #0e0e0e,
            -10px -10px 20px #0e0e0e;
}

.card__title {
  font-size: var(--h1-font-size);
  font-family: 'PT Mono', sans-serif;
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin-bottom: 1rem;
}

.slider {
  margin: 2rem 2rem;
  border-radius: 10px;
}

/* review styling */
.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2.5rem 0;
}

.quote h3 {
  font-size: 1.125rem;
  font-family: 'PT Mono', sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

.quote h4 {
  font-size: 1rem;
  font-family: 'PT Mono', sans-serif;
  font-weight: 400;
  color: var(--color-grey);
  margin-top: 1rem;
}

/* artiesten styling */
.artiest {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.artiest img {
  width: 15%;
}

.artiest h3 {
  font-size: 22px;
  font-family: 'PT Mono', sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

.footer {
  margin: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact {
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-red);
  margin-top: 50px;
}

.contact__link {
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-red);
  cursor: pointer;
}

.contact__link:hover {
  text-decoration: none;
}

.email {
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-red);
  margin-top: 10px;
}

.copyright {
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-grey);
  margin-top: 90px;
}